# APLICACIÓN
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# JWT
JWT_SECRET=tu_secreto_super_seguro_aqui_minimo_32_chars
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=tu_otro_secreto_diferente_para_refresh
JWT_REFRESH_EXPIRES_IN=7d

# AWS
AWS_REGION_NAME=us-east-1
AWS_ACCESS_KEY_ID=tu_access_key_id_de_iam
AWS_SECRET_ACCESS_KEY=tu_secret_access_key_de_iam

# NODEMAILER
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_app_password_de_gmail

# DYNAMODB
DYNAMO_USERS_TABLE=btg-users-dev
DYNAMO_FUNDS_TABLE=btg-funds-dev
DYNAMO_SUBSCRIPTIONS_TABLE=btg-subscriptions-dev
DYNAMO_TRANSACTIONS_TABLE=btg-transactions-dev
